.userInfoTiles {
	border:2px dotted #445b7b;
	height:120px;
	width:200px;
	margin:10px;
	padding:5px;
	color:#445b7b;
	background-color:#dcdcdc;
	transition: width 2s;
}
.userInfoTiles:hover {
	width: 300px;
    border-radius: 0px 30px 30px 0px;
}