
.main-header .navbar-default {
  background-color: #445b7b;
  border:none;
  .navbar-brand {
  color: #f0f8ff;
  }
  .navbar-brand:focus {
  color: #f0f8ff;
  }
   .navbar-brand:hover {
  color: #f0f8ff;
  }

 .navbar-nav > li > a {
    color:#f0f8ff;
  }


.navbar-nav li > a:focus {
    color:#fffaf0;
    background-color: #88A2AF;
    border-bottom: 2px solid #ffd700;
  }

.navbar-nav li > a:active {
    color:yellow;
  }

}

.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
  margin: 20px;
}

.container-body{
height: -moz-calc(100% - 50px);
height: -webkit-calc(100% - 50px);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.footer {
  padding-left: 15px;
  padding-right: 15px;
   padding-top: 19px;
  background-color: #445b7b;
}

